<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sample.simon.mapservice">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <!--高德地图的key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="19583c6857790c1d4e52c110eded1728"/>

        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>
